main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: unset;
  }
}